body {
    background-color: ghostwhite;
}
.some-class {
    background-color: blue;
}
#register,
#login,
#reset_pwd {
    /* Size & position */
    width: 300px;
    margin: 60px auto 30px;
    padding: 10px;
    position: relative; /* For the submit button positioning */

    /* Styles */
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 3px 7px rgba(0, 0, 0, 0.3),
        inset 0 1px rgba(255, 255, 255, 1), inset 0 -3px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    background: linear-gradient(#eeefef, #ffffff 10%);
}

#profile-pic {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    float: right;
    border: 2px solid black;
}

#profile-content {
    position: fixed;
    top: 200px;
    left: 200px;
}
#logo {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 2px solid red;
}

#logomain {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 2px solid red;
}
#bio {
    text-align: center;
    text-decoration: dashed;
}
